<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bugmanager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavBar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/bug-board">BugBoard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bug-list">bugList
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bug-detail">create bug
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" #searchItemInput (input)="serachItemValue=searchItemInput.value" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/bug-list', { searchItem: serachItemValue }]">Search</button>
    </form>
  </div>
</nav>